/* CSS Document */
	@charset "utf-8";

#wrapper{
			height:40px;
			font:14px Geneva,Arial,Helvetica,sans-serif;
			background:#E1E1E1;
			min-width:500px;
			margin-left:201px;
			margin-top:0px;
			padding-left:0px;
			position:fixed;
			width:100%;
	}
/* CSS Document */

	
	#wrapper li{
			list-style:none;
			display:block;
			float:left;
			height:40px;
			position:relative;
		}
	#wrapper li a{
			padding:0px 10px 0px 30px;
			margin:0px 0;
			line-height:40px;
			text-decoration:none;
			height:40px;
			color:#FFF;
		}
	#wrapper ul{
			background: #FFF; 
			padding: 0px;
			border-bottom: 1px solid #DDDDDD;
			border-right: 1px solid #DDDDDD;
			border-left:1px solid #DDDDDD;
			width:190px;
			}

	#wrapper li.wraper-menu{
			background:url(../images/list.png) no-repeat 9px 12px;
		}
	#wrapper li.wraper-menu:hover{
			background:url(../images/list.png) no-repeat 9px 12px #FFF;
	}
	
	
	

	
	#wrapper li:hover{
	background:#DDD;
}
#wrapper li a{
	display: block;
}
#wrapper ul li {
	border-right:none;
	border-bottom:1px solid #DDDDDD;
	width:190px;
	height:39px;
}

#wrapper ul li a {
	border-right: none;
	color:#000;
	text-shadow: 1px 1px 1px #FFF;
	border-bottom:1px solid #FFFFFF;
}

#wrapper ul li:hover{background:#DFEEF0;}

#wrapper ul li:last-child { border-bottom: none;}
#wrapper ul li:last-child a{ border-bottom: none;}
/* Sub menus */
#wrapper ul{
	display: none;
	visibility:hidden;
	position: absolute;
	top: 40px;
}

/* Third-level menus */
#wrapper ul ul{
	top: 0px;
	left:190px;
	display: none;
	visibility:hidden;
	border: 1px solid #DDDDDD;
}
/* Fourth-level menus */
#wrapper ul ul ul{
	top: 0px;
	left:190px;
	display: none;
	visibility:hidden;
	border: 1px solid #DDDDDD;
}

#wrapper ul li{
	display: block;
	visibility:visible;
}
#wrapper li:hover > ul{
	display: block;
	visibility:visible;
}



#wrapper li input[type="search"]{
	
	 background: none repeat scroll 0 0 #fff; 
	 border: 0 none;
	 color: #7F7F7F; 
	 float: left;
	 font: 12px 'Helvetica','Lucida Sans Unicode','Lucida Grande',sans-serif; 
	 height: 30px;
	 margin: 0;
	 margin-left:6px;
	 padding: 10px;
	 transition: background 0.3s ease-in-out 0s; 
	 width: 300px;
	 margin-top:4px;
}
#wrapper li button[type="submit"]{
	background: url("../images/search.png") no-repeat scroll center center #7eac10;
	cursor: pointer; 
	height: 30px; 
	text-indent: -99999em;
	margin-top:4px;
	background-color:#FFF; 
	width: 30px;
	border: 2px solid #fff; 
}
#wrapper li button[type="submit"]:hover{
	
	background-color:#FF8040; 
}
#page,#row,#sort,#list{
	display:block;
	margin-left:6px;
	height:30px;
	border: 2px solid #fff; 
	margin-top:4px;
	width:80px;
	color: #7F7F7F;
}




	






