/* CSS Document */
#servicerepairback{
		font:14px Geneva,Arial,Helvetica,sans-serif;
		background-color: #AAA;
		min-width:500px;
		margin-left:201px;
		margin-top:40px;
		padding-left:0px;
		position:absolute;
		width:100%;
		height:1000px;
}
#block{
		display:block;
		background:#DDD;
		float:left;
		margin-top:10px;
		margin-left:20%;
		width:600px;
		height:800px;
		background:#EEE;
		
}
#logo{
	margin-top:10px;
	display:block;
	width:96.5%;
	height:6%;
	background:#0DB0FF;
	margin-left:10px;
}
#control{
	margin-top:0px;
	display:block;
	width:96.5%;
	height:680px;
	background:#DDD;
	margin-left:10px;
}
#foot{
	margin-top:0px;
	display:block;
	width:96.5%;
	height:6%;
	background:#0DB0FF;
	margin-left:10px;
}
#control-input{
	margin-top:0px;
	display:block;
	width:96.5%;
	height:94%;
	background:#EEE;
	margin-left:10px;
}
#logo-label{
	color:#FFF;
	font-size:24px;
	font-weight:200;
}
.box{
	height:35px;
	border: 2px solid #DDD;
	font-size:16px;
}
#date{
	width:200px;
}
#tech{
	width:500px;
}
#detail{
	width:500px;
	height:100px;
}

#save{
	display:block;
	cursor:pointer;
	background:#008080;
	border:#396;
	color:#EEE;
	height:35px;
	font-size:20px;
	width:500px;
	font-weight:500;
	margin-top:15px;
}
#save:hover{
	background:#0CC;
}
#img{
	width:200px;
	height:150px;
}


